.THIS .slds-modal__container { 
    width: 60% !important;
    max-width: 60% !important;
}
.THIS .slds-modal__content{
    height : 650px !important;
    overflow-x : hidden!important;

}
.THIS .fontSize{
    font-size: large;
}