.THIS .modal{
    width:100%;
    height:100vh;
    max-width: 100%;
}
.THIS .slds-modal__footer{
    background-color: white;
}
.THIS .datatable{
    min-height:19rem;
    overflow-x: scroll;
    min-height:25rem;
}
.THIS label{
    font-weight:bold;
    font-size: var(--lwc-formLabelFontSize, 0.75rem);
}
.THIS .layout_Item{
    width:30%;
}
.THIS .NotopPadding{
     padding-top: 0px !important;       
}
.THIS .inputpadding{
     padding: 0.25rem 1rem !important;  
}
.THIS .slds-button__icon_left{
     margin: 0px 0.25rem;   
}