.THIS{
    height: 100%;
}
.THIS .wrapperCard{
    height: 100%;
}
.THIS .slds-card__header{
    height: 8%;
    padding-top: 0;
    margin: 0;
    background-color: #F3F2F2;
}
.THIS .slds-no-flex{
    display: contents;
}
.THIS .slds-card__body{
    height: 92%;
    margin: 0;
}
.THIS .slds-wrap{
    height: 100%;
}
.THIS .LayoutItem_Header{
    height: 80px;
}
.THIS .LayoutItem_Body{
    height: calc( 100% - 80px );
}
.THIS .dt-outer-container{
    padding-bottom: 10px;
}