/* 1.1   2023-02-22   anish.jain@partner.samsung.com	   Changes Added for new Search box 'Intensive BO' regarding (My Sales - 141) */
.THIS {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.THIS .filter_item .slds-form-element__label{
    font-weight: bold !important;
}
.THIS .btn_search{
    padding:31px 0px 12px 12px;
}
.THIS .search_layout > div{
    padding: 0px 12px 0px 12px;
}
.THIS .slds-card__body {
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
}
.THIS .search_layout{
    height:12%;
}
.THIS .data_layout{
    height:64%;
}
.THIS .item_table{
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    border-bottom: 1px solid;
    border-bottom-color: darkgray;
}
.THIS .dataCheck{
    margin-right: -15px;
}
.THIS .headerIcon{
    display: inline-block;
    margin-right: 5px;
}

.THIS .slds-form-element__label{
    font-weight:bold;
}
.THIS .slds-card__header{
    margin-bottom: 0;
}
.THIS .title{
    padding-bottom: 5px;
}
/*Start - Added by Anish - v 1.1*/
.THIS .slds_black_padd{
 padding-top: 6px;   
}
.THIS .slds_black{
    border-width: 500px;
    height:32.67px;
    border: 1px solid rgb(201,201,201);
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 1px;
}
/*End - Added by Anish - v 1.1*/
.THIS .item_paging{
    margin-top: 0px;
   /* bottom: 0px;
    position: absolute;
    left: 0;
    right: 0; */
}

/* 
.THIS .search_layout{
    height:12%
}

.THIS .slds-card{
    height: 100% !important;
}

.THIS .slds-card__body{
    height: 96%;
}

.THIS .c-container{
    height: 100%;
}
.THIS .data_layout{
    height:88%;
}

.THIS .item_table{
    height:85%;
    overflow-y:auto;
}

.THIS .item_paging{
    height:15%;
} */