.THIS .body{
    padding-top: 10px;
    overflow: auto;
    height: 400px;
}
.THIS .footer {
    text-align: right;
    width: 100%;
}
.THIS .textCenter {
    text-align: center;
}
.THIS .lookup {
    width: 100%
}
.THIS .pointer {
    width : 22%;
    vertical-align: middle;
}
.THIS .leftTable{
    width: 55%;
    float:left;
}
.THIS .rightTable{
    width: 45%;
    float: left;
}
.THIS .inputwidth{
    width: 345px;
}
.THIS .lookupInside{
    width: 42%;
    margin-bottom: 15px;
    margin-left: 5px;
}