[data-status=true] {
    pointer-events: none;
    opacity: 0.65;
}

[data-status=false] {
    pointer-events: all;
    opacity: 1.00;
}

.page-section.page-left ul li, .page-section.page-right ul li a {
    margin-bottom: 5px;
}

.page-section.form-bottom lightning-input.slds-form-element {
    display: inline-block;
    width: 75%;
}

.page-section.form-bottom a {
    vertical-align: middle;
    float: right;
}